[submodule "projects/apis/metal/depends/SPIRV-Cross"]
	path = projects/apis/metal/depends/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "projects/utils"]
	path = projects/utils
	url = https://git.astraltech.xyz/AstralTech/Gryphn-Utils.git
[submodule "projects/apis/opengl/depends/SPIRV-Cross"]
	path = projects/apis/opengl/depends/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
